.item{
    width : 350px;
}
.item p{
    margin :6px 0px;
}
.item-prices{
    display:flex;
    gap:20px
}
.item-price-new{
    color:#374151;
    font-size:18px;
    font-weight:600;

}
.item-price-old{
    color: #8c8c8c;
    font-size:18px;
    font-weight:500;
    text-decoration:line-through;
}
.item:hover{
    transform:scale(1.05);
    transition :0.6s ;
}
.add-button
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-button svg
{
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 5px;
    color: var(--col1);
    transition: all  ease;
    margin: 5px;
}
.add-button svg:hover
{
    background-color: var(--col1);  
    color: aliceblue;
    transform: scale(1.2);
}
.add-button .qty
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.add-button .qty button
{
    width: 30px;
    height: 30px;
    background-color: var(--col1);
    color: aliceblue;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.add-button .qty p
{
    font-size: 20px;
    font-weight: 500;
    color: var(--col1);
    margin: 0px;
    padding: 0px;
}
.add-to-cart
{
    background-color: var(--col1);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}