/* Clothing.css */

/* Style for the whole page */
body {
    font-family: Arial, sans-serif;
    background-color:#fff;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the Navbar */
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  /* Style for section headings */
  h1 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  /* Style for horizontal line */
  hr {
    border: 1px solid #ddd;
  }
  
  /* Style for clothing collections */
  .collections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Style for individual clothing items */
  .item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30%;
  }
  
  /* Style for clothing item images */
  .item img {
    width: 100%;
    max-height: max-content;
    object-fit: cover;
  }
  
  /* Style for clothing item names */
  .item .name {
    font-weight: bold;
  }
  
  /* Style for prices */
  .item .price {
    color: #ff6600;
    font-weight: bold;
  }
  
  /* Media query for responsive design */
  @media (max-width: 768px) {
    .collections {
      flex-direction: column;
    }
  
    .item {
      width: 100%;
    }
  }
  
  .banners{
    display: block;
    margin: 30px auto;
    width: 100%;
    margin-top: 5px;
  }